{% extends "base.html" %}

{% block content %}
<h1 class="text-center">Welcome to Dependency Graph Visualizer!</h1>

{% if message %}
<div class="alert alert-info text-center" role="alert">
    {{ message }}
</div>
{% endif %}

{% if error_message %}
<div class="alert alert-danger text-center" role="alert">
    {{ error_message }}
</div>
{% endif %}

{% if graph_html %}
<body>
    <main>
        <div style="text-align: center; margin: 20px;">
            {{ graph_html | safe }}
        </div>
    </main>
</body>
{% endif %}

<p class="text-center">Upload your requirements.txt file here</p>
<form action="/upload/" method="post" enctype="multipart/form-data" class="text-center">
    <input type="file" name="file" class="form-control mb-3" style="max-width: 300px; margin: auto;">
    <button type="submit" class="btn btn-primary">Upload File</button>
</form>
{% endblock %}
